[submodule "submodules/catch"]
	path = submodules/catch
	url = https://github.com/catchorg/Catch2.git
	ignore = dirty
[submodule "submodules/parallel-hashmap"]
	path = submodules/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
	ignore = dirty
[submodule "submodules/paw"]
	path = submodules/paw
	url = https://github.com/hannespetur/paw.git
	ignore = dirty
[submodule "submodules/gfatools"]
	path = submodules/gfatools
	url = https://github.com/lh3/gfatools.git
	ignore = dirty
[submodule "submodules/cereal"]
	path = submodules/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "submodules/libdeflate"]
	path = submodules/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
	ignore = dirty
[submodule "submodules/htslib"]
	path = submodules/htslib
	url = https://github.com/samtools/htslib.git
	ignore = dirty
